{% extends "layout.html" %}
{% block title %}PathCORE-T network{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
<h2>PathCORE-T Web Interface</h2>
<ul class="list-group">
  <li class="list-group-item list-group-item-success">
  <a href="{{ url_for('routes.pathcore_network') }}">
    <b>Interact</b> with the PAO1 KEGG network demo server.
  </a>
    <h4>Additional:</h4>
    <p>
        <a href="http://dx.doi.org/10.1016/j.cels.2017.06.003">
          Tan et al. (2017): Unsupervised Extraction of Stable Expression
          Signatures from Public Compendia with an Ensemble of Neural Networks
        </a>
        <br />
        <a href="http://www.kegg.jp/kegg-bin/show_organism?menu_type=pathway_maps&org=pae">
          Click here
        </a> 
        to go to the PAO1 KEGG pathway maps.
    </p>
  </li>
  <li class="list-group-item list-group-item-warning">
  <a href="{{ url_for('routes.tcga_network') }}">
      <b>View</b> the TCGA PID network</a> described in our paper.
    <br /> 
    ** This network is <b>view-only</b>. That is, it is not accompanied
    by a demo server and the edges are not interactive.
    <h4>Additional:</h4>
    <p>
        <a href="http://doi.org/10.1038/ng.2764">
          Weinstein et al. (2013): The Cancer Genome Atlas Pan-Cancer
          analysis project
        </a>
        <br />
        <a href="http://doi.org/10.1093/nar/gkn653">
          PID: the Pathway Interaction Database
        </a>
    </p>
  </li>
  <li class="list-group-item list-group-item-warning">
  <a href="{{ url_for('routes.pathcore_network_quickview') }}">
    <b>Upload and view</b></a> your own PathCORE-T-generated network.
    <br />
    <a href="{{ url_for( 'routes.pathcore_network_file') }}">
    [Download an example file]</a>
  </li>
  
  <li class="list-group-item list-group-item">
  <a href="https://doi.org/10.1101/147645">
      <b>Read the manuscript.</b></a>
  </li>

  <li class="list-group-item list-group-item">
    <b>PathCORE-T repositories:</b><br />
    <a href="https://github.com/greenelab/PathCORE-T-analysis">
    PathCORE-T-analysis
    </a> contains the analysis scripts used to generate the results
    visualized on this demo server.

    <br />
    <a href="https://github.com/greenelab/PathCORE-T">
    PathCORE-T
    </a> is a pip-installable Python 3 package that contains
    the methods used in the PathCORE-T analysis workflow (these are imported
    in the scripts in PathCORE-T-analysis)
    
    <br />
    **<a href="{{url_for( 'routes.pathcore_docs') }}">
    Documentation for the methods in the 'pathcore' PyPI package
    can be viewed here.</a>
  </li>
  
  <li class="list-group-item list-group-item-info">
    <a href="https://github.com/kathyxchen/PathCORE-T-demo/">
        Find me on <b>Github</b>.
    </a>
    <br />
    Found a bug or have a suggestion? Start a conversation 
    <a href="https://github.com/kathyxchen/PathCORE-T-demo/issues">
        <b>here</b>.
    </a>
  </li>
</ul>
</div>
{% endblock %}
