{% extends "layout.html" %}
{% block title %}PathCORE network{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  .link {
    stroke: #000;
    opacity: 0.5;
  }

  .node {
    stroke: #fff;
  }

  .node text {
    pointer-events: none;
    font: 14px sans-serif;
    fill: white;
    stroke: gray;
  }

  table {
    border: 1px solid #ccc;
  }

  table th {
    background-color: #F7F7F7;
    color: #333;
    font-weight: bold;
  }

  table th, table td {
    padding: 5px;
    border-color: #ccc;
  }
  </style>
  <script src="{{ url_for('static', filename='js/pathcore.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="container">
            <h3>{{title}}</h3>
            <h4><b>Press Shift-L</b> to view the PathCORE network
                as a list of edges.
            </h4>
            <h4><b>Press Shift-N</b> to return to the PathCORE network.
            </h4>
        </div>
    </div>
    {% include "network.html" %}
    <div class="row list-view">
      <div class="container list-view-container">

      </div>
    </div>
</div>
</body>

<script>
/* initialize the random seed to make the PathCORE network layout
 * load in the same way every time.
 */
Math.seedrandom("10pa4t5hcoRE");

const target = "#pathcore";
const width  = 960;
const height = Math.max($(window).height() - 10, 500);
const svg = d3.select(target).append("svg")
  .attr("width", width)
  .attr("height", height);
const force = d3.layout.force()
  .charge(-180)
  .size([width, height]);

const networkFilename = "{{ filename }}";
const filepath = "{{ url_for('static', filename='data/' + filename) }}";

const currentUrl = window.location.href;
const baseUrl = currentUrl.substring(0, currentUrl.indexOf("eADAGE"));
const edgeBaseUrl = baseUrl + "edge/";

// create the edges table HTML
d3.tsv(filepath, function(data) {
  const table = $("<table />");
  const thead = $("<thead />");
  thead.append("<th>Edge</th>");
  // TODO: update PathCORE text with 
  // edge odds ratio description
  thead.append("<th>Odds ratio</th>");

  data.forEach(function(d) {
    const row = $("<tr />");
    const edge = "[" + d.pw0 + " - " + d.pw1 + "]";
    const edgeUrl = edgeBaseUrl + d.pw0 + "&" + d.pw1;
    const edgeData = "<a href=" + edgeUrl + ">" + edge "</a>"
    row.append("<td>" + edgeData + "</td>");
    row.append("<td>" + d.weight + "</td>");
  });

  $(".list-view-container").html("");
  $(".list-view-container").append(table);
});

// event listener for the search bar
$("#searchbar").keypress(function(e) {
  $(".err-message").hide();
  if (e.which == 13) {
    $("button").click();
    return false;
  }
});

// event listeners for network & list views
$(document).keypress("l", function(e) {
  if (e.shiftKey) {
    $(".list-view").show();
    $(".network-view").hide();
  }
});

$(document).keypress("n", function(e) {
  if (e.shiftKey) {
    $(".list-view").hide();
    $(".network-view").show();
  }
});

d3.tsv(filepath, function(error, links) {
  if (error) throw error;
  loadPathCORENetwork(links, force, svg);
});

</script>
{% endblock %}
