{% extends "layout.html" %}
{% block title %}PathCORE network{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  table {
    border: 1px solid #ccc;
  }

  table th {
    background-color: #F7F7F7;
    color: #333;
    font-weight: bold;
  }

  table th, table td {
    padding: 5px;
    border-color: #ccc;
  }

  .hide {
    display: none;
  }
  </style>
  <script src="{{ url_for('static', filename='js/pathcore.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="container">
            <h4><a href="{{ url_for('home') }}">Home</a>
                &nbsp; / &nbsp;
                {{title}}
            </h4>
            <p>Drag nodes in the network to different spots on the page to improve readability.
            {% if not view_only %}
                Click on edges to view more information about each relationship.
            {% endif %}
            </p>
            <p>
                <b>Press Shift-L</b> to view the PathCORE network
                as a list of edges.
                <b>Press Shift-N</b> to return to the PathCORE network.
            </p>
        </div>
    </div>
    <div class="network-view">
        {% include "network.html" %}
    </div>
    <div class="row list-view hide">
      <div class="container list-view-container">
      </div>
    </div>
</div>
</body>

<script>
/* initialize the random seed to make the PathCORE network layout
 * load in the same way every time.
 */
Math.seedrandom("10pa4t5hcoRE");

const target = "#pathcore";
const width  = Math.max($(".container").width(), 960);
const height = Math.max($(window).height() + 100, 500);
const svg = d3.select(target).append("svg")
  .attr("width", width)
  .attr("height", height);
const force = d3.layout.force()
  .charge(-180)
  .linkDistance(20)
  .size([width, height]);

const networkFilename = "{{ filename }}";
const filepath = "{{ url_for('static', filename='data/' + filename) }}";

const currentUrl = window.location.href;
const baseUrl = currentUrl.substring(0, currentUrl.indexOf("eADAGE"));
const edgeBaseUrl = baseUrl + "edge/";

const viewOnly = "{{view_only}}" == "True";

// create the edges table HTML
d3.tsv(filepath, function(data) {
  const table = $("<table />");
  const thead = $("<thead />");
  thead.append("<th>Edge</th>");
  thead.append("<th>Odds ratio</th>");
  table.append(thead);
  data.forEach(function(d) {
    const row = $("<tr />");
    const edge = "[" + d.pw0 + " - " + d.pw1 + "]";
    const edgeUrl = (edgeBaseUrl + d.pw0 + "&" + d.pw1).replace(/ /g, '%20')
      .replace(/=/g, '&#x3D;')
      .replace(/>/g, '&gt;');
    let edgeData;
    if (viewOnly) {
      edgeData = edge;
    } else {
      edgeData = "<a href=" + edgeUrl + ">" + edge + "</a>";
    }
    row.append("<td>" + edgeData + "</td>");
    row.append("<td>" + d.weight + "</td>");
    table.append(row);
  });

  $(".list-view-container").html("");
  $(".list-view-container").append(table);
});

// event listener for the search bar
$("#searchbar").keypress(function(e) {
  $(".err-message").hide();
  if (e.which == 13) {
    $("button").click();
    return false;
  }
});

// event listeners for network & list views
$(document).keypress(function(e) {
  if (e.shiftKey) {
    const key = String.fromCharCode(e.keyCode);
    console.log(key);
    if (key == "L") {
      $(".list-view").removeClass("hide");
      $(".network-view").addClass("hide");
    }
    if (key == "N") {
      $(".list-view").addClass("hide");
      $(".network-view").removeClass("hide");
    }
  }
});

d3.tsv(filepath, function(error, links) {
  if (error) throw error;
  loadPathCORENetwork(links, force, svg, viewOnly);
});

</script>
{% endblock %}
