{% extends "layout.html" %}
{% block title %}Quickview{% endblock %}
{% block head %}
  {{ super() }}
	<script src="{{ url_for('static', filename='js/pathcore.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="container">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row">
		    <input type="file" id="fileUpload" />
				<input type="button" id="upload" value="Upload" />
    </div>
    {% include "network.html" %}
</div>
<script type="text/javascript">
Math.seedrandom("10pa4t5hcoRE");
const target = "#pathcore";
const width  = 960;
const height = Math.max($(window).height() - 10, 500);
const svg = d3.select(target).append("svg")
  .attr("width", width)
  .attr("height", height);
const force = d3.layout.force()
  .charge(-180)
  .size([width, height]);

// event listener for the search bar
$("#searchbar").keypress(function(e) {
    $(".err-message").hide();
    if (e.which == 13) {
        $("button").click();
        return false;
    }
});

$(function () {
    $("#upload").on("click", function () {
        const regex = /^([a-zA-Z0-9\s_\\.\-:])+(.tsv|.txt)$/;
        if (regex.test($("#fileUpload").val().toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                const reader = new FileReader();
                reader.onload = function (e) {	
                    const tsvString = e.target.result;
                	const data = d3.tsv.parse(tsvString);
                	loadPathCORENetwork(data, force, svg);
                }
                reader.readAsText($("#fileUpload")[0].files[0]);
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a TSV file with columns [pw0, pw1, weight].");
        }
    });
});
</script>
{% endblock %}
